.switches {
  justify-content: space-between;
}

.toggle-area {
  border: 3px var(--secondary-color) solid;
  background-color: var(--secondary-color);
  padding: 0px 5px;
  border-radius: var(--global-border-radius);
}

.toggle button {
  background-color: #fff;
  border: none;
}

.text {
  font-size: small;
  font-weight: 400;
}
