// Container classes

%container-shared {
  margin: auto;
}

.container {
  &-showcase {
    @extend %container-shared;
    width: 100vw;
  }
  &-short {
    @extend %container-shared;
    display: flex;
    overflow: auto;
    max-width: $website-width;
    height: 45vh;
  }
}

// Organisation classes
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;

  img {
    height: 400px;
    width: 400px;
    border-radius: $global-border-radius;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 3rem;
  border-radius: $global-border-radius;
  color: #fff;
  background-color: $main-color;

  h2 {
    text-align: start;
    margin-bottom: 3px;
  }
  p {
    text-align: justify;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: $global-border-radius;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  color: $light-color;
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}
