// Container classes

%container-shared {
  margin: auto;
}

.container {
  &-showcase {
    @extend %container-shared;
    width: 100vw;
  }
  &-short {
    @extend %container-shared;
    display: flex;
    overflow: auto;
    max-width: $website-width;
    height: 50vh;
    border: 2px solid #333;
  }
}

// Organisation classes
.column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;

  img {
    height: 400px;
    width: 400px;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: $btn-border-radius;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  color: $light-color;
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}
