// Helper mixins
%column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Container classes
%container-shared {
  margin: auto;
  padding: 1% 0;
}

.container {
  &-showcase {
    @extend %container-shared;
    width: 100vw;

    @include phone {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-short {
    @extend %container-shared;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
    height: 45vh;

    @include phone {
      height: auto;
      overflow: unset;
      max-width: 100%;
    }
  }
  &-long {
    @extend %container-shared;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    max-width: 100%;

    @include phone {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
}

// Organisation classes
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  max-width: 70%;

  img {
    width: 650px;
    border-radius: $global-border-radius;
    box-shadow: $div-shadow-params;
  }

  @include phone {
    flex-direction: column;
    max-width: 90%;
    img {
      width: 350px;
    }
  }
}

%column-base {
  @extend %column-flex;
  margin: 2rem;
  padding: 3rem;
  border-radius: $global-border-radius;
  color: #333;

  h1,
  h2 {
    width: 80%;
    border: none;
    color: $main-color;
    margin: 4% 0;
    padding: 1%;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    margin-bottom: 3px;
  }
  p {
    text-align: center;
    margin: 4% 0;
  }

  @include phone {
    padding: 1rem;
    margin: 1rem;
  }
}

.column {
  @extend %column-base;

  &-md {
    @extend %column-base;
    max-width: 40%;
    p,
    span {
      text-align: left;
      a {
        color: $medium-color;
      }
    }

    h1,
    h2,
    h3 {
      margin: 2% 0;
    }

    pre {
      background-color: $light-color;
      margin: 3% 0;
      padding: 3%;
      border-radius: $global-border-radius;
      width: 100%;
    }

    a {
      border-bottom: 3px solid #33333300;
      transition: border-color $animation-duration;
      h1,
      h2,
      h3 {
        color: $main-color;
      }
      i {
        color: #3333337a;
        transition: color $animation-duration;
      }
      &:hover {
        i {
          color: $medium-color;
        }
        border-bottom: 3px solid $medium-color;
      }
    }

    img {
      width: 70%;
    }

    @include phone {
      max-width: 80%;
    }
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all $animation-duration;
  border: none;
  cursor: pointer;
  border-radius: $global-border-radius;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #fff;
    background-color: $main-color;
    &:hover {
      color: #fff;
      background-color: $medium-color;
    }
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}
