@import "variables";
@import "utilities";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  font-family: "Comfortaa", sans-serif;
  color: $main-color;
  letter-spacing: -0.15rem;
  font-weight: 700;
  font-size: 40px;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  width: 100%;
  backdrop-filter: blur(2px);

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    border: 3px none $dark-color;
    background-color: $main-color;
    border-radius: $global-border-radius;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.5s;

    &:hover {
      background-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 70vh;
    color: #000;
    // Header Content
    .header-content {
      text-align: center;
      padding-top: 25vh;
      padding-right: 45vw;

      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }
    }
  }
}
