@import "variables";
@import "utilities";

// Root settings

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

img {
  width: 100%;
}

// Scroll behaviour
html {
  scroll-behavior: smooth;
}

// Main Nav
#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  width: 100%;
  backdrop-filter: $blur-radius;
  -webkit-backdrop-filter: $blur-radius;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 3px none $dark-color;
    background-color: $main-color;
    border-radius: $global-border-radius;
    padding: 0.5rem 0.8rem;
    transition: background-color $animation-duration;

    &:hover {
      background-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 70vh;
    color: #000;

    @include phone {
      background: no-repeat left $bg-image;
    }

    // Header Content
    .header-content {
      @extend %column-flex;
      padding-top: 14%;
      padding-right: 25%;
      text-align: center;

      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }

      @include phone {
        padding: 1%;
        p {
          font-size: 1.25rem;
        }
      }
    }
  }
}

// Footer
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-color;
  color: #fff;
  border-bottom-left-radius: $global-border-radius;
  border-bottom-right-radius: $global-border-radius;
}

// Logo
#logo {
  background: transparent !important;
  span {
    font-family: "Comfortaa", sans-serif;
    color: $main-color;
    letter-spacing: -0.15rem;
    font-weight: 700;
    font-size: 40px;
    text-transform: none;
    transition: color $animation-duration;
  }
  &:hover {
    span {
      color: $medium-color;
    }
    background: none;
  }
}
