.md-box {
  height: 100px;
  width: 90%;
  border: solid #f4f4f4;
  border-radius: 5px;
  text-align: left;
}
.md-box > * {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  color: #000;
}
