.md-box {
  height: auto;
  width: 90%;
  border: solid var(--secondary-color);
  border-radius: 10px;
  text-align: left;
  margin-bottom: 15px;
}
.md-box > * {
  padding: 10px 20px;
  border: none;
  background-color: var(--secondary-color);
  color: #000;
}
