.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.button {
  background: var(--secondary-color);
  border-radius: var(--global-border-radius);
  margin: 0 1%;
}

.button:hover {
  background-color: aliceblue;
}
