.border {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  background: #fff;
}

.button {
  background: var(--secondary-color);
  border-radius: 5px;
  margin: 0 1%;
}

.button:hover {
  background-color: var(--highlight-color);
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 500px;
  width: 500px;
  padding: 10px 0px;
}

.node-highlighted {
  border: 5px solid #ff9999;
}

.error-state {
  color: var(--error-state);
  text-align: left;
  width: 90%;
  margin: 10px 0 auto;
  font-size: 13px;
}

.icon-marker {
  position: absolute;
  right: 5%;
  color: var(--highlight-color);
  width: 1.5rem;
  height: 1.5rem;
}
