.border {
  border: var(--global-border-thickness) solid var(--secondary-color);
  border-radius: var(--secondary-border-radius);
  background: #fff;
  box-shadow: var(--div-shadow-params);
}

.error-border {
  border: var(--global-border-thickness) solid var(--error-state);
}

.button {
  background: var(--secondary-color);
  border-radius: var(--global-border-radius);
  margin: 0 1%;
}

.button:hover {
  background-color: var(--highlight-color);
  border-radius: var(--global-border-radius);
  color: var(--highlight-text-color);
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 500px;
  width: 500px;
  padding: 10px 0px;
}

.node-highlighted {
  border: 5px solid #ff9999;
}

.error-state {
  color: var(--error-state);
  text-align: left;
  width: 90%;
  margin: 10px 0 auto;
  font-size: 13px;
}

.icon-marker {
  position: absolute;
  right: 5%;
  color: var(--highlight-color);
  width: 1.5rem;
  height: 1.5rem;
}
