.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: fixed;
  background: white;
  border: 10px;
  top: 0;
  left: 0;
  font-weight: 700;
  height: 100vh;
  width: 100vw;
  animation: div-transition 2s ease-in-out 1s 1 forwards normal;
}

.icon a {
  text-decoration: none;
}

.icon span::before {
  content: "grphbook";
  font-family: "Comfortaa", sans-serif;
  color: var(--highlight-color);
  letter-spacing: -0.15rem;
  font-size: 72px;
  animation: font-transition 2s ease-in-out 1s 1 forwards normal;
  transition: all var(--global-animation-duration) var(--global-animation-style);
}

@keyframes div-transition {
  to {
    height: 3rem;
    width: 7rem;
    left: 20px;
    top: 20px;
    border: var(--global-border-thickness) solid var(--secondary-color);
    box-shadow: var(--div-shadow-params);
    border-radius: var(--secondary-border-radius);
    background: #fff;
  }
}

@keyframes font-transition {
  25% {
    content: "grphboo";
    font-size: 63px;
    font-weight: 700;
    color: #4c212a;
  }
  50% {
    content: "grphbo";
    font-size: 54px;
    font-weight: 700;
    color: #ca2e55;
  }
  75% {
    content: "grphb";
    font-size: 45px;
    font-weight: 700;
    color: #d77a61;
  }
  100% {
    content: "grph";
    font-size: 36px;
    font-weight: 700;
    color: var(--highlight-color);
  }
}
