html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  --highlight-color: #507dbc;
  --highlight-text-color: #fff;
  --secondary-color: #f4f4f7;
  --error-state: #dc143c;
  --success-state: #2cc681;
  --global-animation-duration: 1s;
  --global-animation-style: ease-in-out;
}

.app {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.background {
  z-index: -100;
}
